<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card mt-4 text-center">
      <div class="card-header">
        <h1 class="h4">
          ¡Hasta pronto {{usuario.firstName}} !
        </h1>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="mt-4 text-center">
      <form action="/" method="GET">
        <button type='submit' class="btn btn-primary btn-block">
            Return to home 
        </button>
    </form>
    </div>
    
  </div>
</div>