<div>
    <form action="/upload" method="POST">
        <p>Name</p>
        <input type="text" name="nombre">
        <p>Code</p>
        <input type="text" name="codigo">
        <p>Description</p>
        <input type="text" name="descripcion">
        <p>Price</p>
        <input type="number" name="precio">
        <p>Photo</p>
        <input type="text" name="foto">
        <p>Stock</p>
        <input type="number" name="stock">
        <button type="submit">Upload Product</button>
    </form>
</div>