<nav class="navbar">
        <form action="/datos" method="GET">
          <button type="submit" class="btn ">Mis Datos</button>
        </form>
        <form action="/carrito" method="GET">
            <button type="submit" class="btn ">Carrito</button>
        </form>
        <form action="/productos" method="GET">
            <button type="submit" class="btn ">Productos</button>
        </form>
        <form action="/logout" method="POST">
            <button type="submit" class="btn ">LogOut</button>
        </form>
</nav>